<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calculate Temperature</title>
</head>

<body>
    <form action="/setcookie" method="post">
        <h3> Enter your datas </h3>
        <p> Name
            <label>
                <input type="text" name="Name" />
            </label>
        </p>
        <p> Age
            <label>
                <input type="number" name="Age" />
            </label>
        </p>
        <label>
            <input type="submit" name="Access" />
        </label>
        </p>
    </form>
</body>

</html>